<footer class="bg-dark text-light pt-5">
    <div class="container">
      <div class="row">
        <!-- Social Media Section -->
        <div class="col-md-4 mb-3">
            <h5>Síguenos:</h5>
            <ul class="list-inline social-icons">
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
  
        <!-- Newsletter Section -->
        <div class="col-md-4 mb-3 text-white">
          <h5 class="text-white">Suscríbete a nuestro boletín:</h5>
          <form class="d-flex">
            <input type="email" class="form-control me-2" placeholder="Ingresa tu correo" required>
            <button class="btn btn-outline-light btn-sm ms-2" type="submit">Suscribirse</button>
          </form>
        </div>
  
        <!-- Contact Information -->
        <div class="col-md-4 mb-3 text-md-end">
          <h5>Contáctanos:</h5>
          <ul class="list-unstyled">
            <li>Correo: hola@vehiculos.com</li>
            <li>Teléfono: +123 456 789</li>
            <li>Ubicación: Viña del Mar, Chile</li>
          </ul>
        </div>
      </div>
  
      <!-- Footer Bottom with Webmaster Credit -->
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-4">© Diseñado por <a href="mailto:rubenschnettlerl@gmail.com">Rubén Schnettler</a> con amor en Viña del Mar. 2024.</p>
        </div>
      </div>
    </div>
  </footer>
  