{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container d-flex flex-column justify-content-center align-items-center mt-5 animate__animated animate__fadeIn">
    <h3 class="text-center mb-4 animate__animated animate__fadeIn">Agregar vehículo</h3>
    <div class="card shadow custom-form-container">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Agregar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}